<h2 id='toggleExperiences'><span id='experienceButton'></span>Experiences </h2>

<div id='experiences'>
	<% @experiences.each do |experience| %>
	<h3><%= experience.date.year %> - <%= experience.title %> </h3>
	<p class="place"><%= experience.place %></p>
	<p><%= experience.notes %></p>
	<% end %>
</div>
