<h2>Experiences</h2>

<% @experiences.each do |experience| %>
<h3><%= experience.date.year %> - <%= experience.title %> </h3>
<p class="place"><%= experience.place %></p>
<p><%= experience.notes %></p>
<% end %>


