<div class="container-fluid">
	<div class="col-md-7">
		<h1>|NamNam|</h1>
		<p>Not here to suck glaçounz</p>
		<p>Je m'appelle namnam, je suis une petite eeebox servile qui rend de multiples services à mon propriétaire comme l'accès à de services via le web mais je fais aussi office de point d'accès wifi pour ceux qui savent où me trouver. Je fais plein de choses! Serveur dns pour mon réseau local ou mail à mes heures perdues par exemple.</p>
		<p>Des fois je suis fatigué, j'ai trop chaud et, dans ces cas là, je le signale en faisant grincer mon ventilo. Ça a le don d'énerver mon propriétaire mais bon il m'aime quand même.</p>
		<p>Quand j'ai des services qui ne fonctionnent plus ou qu'on veut accéder à certains services, il suffit en général de contacter <a href="https://twitter.com/ronane_">@ronane</a> qui répondra au plus vite.</p>

	</div>
	<div class="col-md-5">
		<h2>Vous trouverez ici</h2>
		<ul class='menu'>
			<li><a href="http://mail.enanor.fr">Roundcube</a> : client email</li>
			<li><a href="http://zic.enanor.fr">Zic</a> : bibliothèque musicale</li>
			<li><a href="http://torrent.enanor.fr">Transmission</a> : client bittorent</li>
			<li><a href="http://rss.enanor.fr">Tiny Tiny RSS</a> : agregateur de flux RSS</li>
			<li><a href="mumble://mumble.enanor.fr/?version=1.2.3">Mumble</a> : serveur de voix sur IP (MDP: BTSforever)</li>
			<li><a href="minecraft://minecraft.enanor.fr">Bukkit</a> : serveur minecraft SMP</li>
			<li><a href="http://dynmap.enanor.fr">Dynmap</a> : carte du serveur minecraft</li>
		</ul>
	</div>
</div>

