<div class="container-fluid">
	<div class="col-md-3">
		<h1>|NamNam|</h1>
		<p>Not here to suck glaçounz</p>
	</div>
	<div class="col-md-7">
		<h2>You'll found here</h2>
		<ul class='menu'>
			<li><a href="http://mail.enanor.fr">Roundcube</a> : mail client</li>
			<li><a href="http://zic.enanor.fr">Zic</a> : music librairy</li>
			<li><a href="http://torrent.enanor.fr">Transmission</a> : bittorent client</li>
			<li><a href="http://rss.enanor.fr">Tiny Tiny RSS</a> : RSS reader</li>
			<li><a href="mumble://mumble.enanor.fr/?version=1.2.3">Mumble</a> : voice over IP chat server (MDP: BTSforever)</li>
			<li><a href="minecraft://minecraft.enanor.fr">Bukkit</a> : minecraft SMP server</li>
			<li><a href="http://dynmap.enanor.fr">Dynmap</a> : minecraft server's map</li>
		</ul>
	</div>
</div>

