<div class="col-md-3">
	<h1>Ronan Trotin</h1>
	<p class="address">89 route de Parigné l'Évêque<br/>72560 Changé, France</p>
	<p class="phone">+33 6 89 85 91 33</p>
	<p class="email">ronan.trotin@gmail.com</p>
</div>

<div class="col-md-5">
	<%= render 'shared/listExperiences' %>
</div>

<div class="col-md-4">
	<%= render 'shared/listTrainings' %>
</div>

