<div class="col-md-3">
	<h1>Ronan Trotin</h1>
	<p class="address">89 route de Parigné l'Évêque<br/>72560 Changé, France</p>
	<a class="phone" href="callto:+33689859133">+33 6 89 85 91 33</p>
	<a class="email" href="mailto:ronan.trotin@gmail.com">ronan.trotin@gmail.com</a>

	<div id="search">
		<form action="#" id="search_form">
			<input placeholder="Chercher dans le CV" type="text" id="searchbox"/>
			<input id="search-submit" type="submit" value="" />
			<input id="search-clear" type=submit value="" />
		</form>
	</div>	

</div>

<div class="col-md-5">
	<%= render 'shared/listExperiences' %>
</div>

<div class="col-md-4">
	<%= render 'shared/listTrainings' %>
</div>

