<h1>Ronan Trotin - Codesmith</h1>
<p class="address">89 route de Parigné l'Évêque</br>72560 Changé, France</p>
<p class="phone">+33 6 89 85 91 33</p>
<p class="email">ronan.trotin@gmail.com</p>

<%= render 'shared/listExperiences' %>
