// Place all the styles related to the cv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags:before {
	content: "tags :";
}

//things related to search
div#search {
	margin-top: 5px;
}

input#search-clear {
	display: none;
	background-image: asset-url("ic_clear_24px.svg");
	height: 24px;
	width: 24px;
	border: none;
}

input#search-submit {
	background-image: asset-url("ic_search_24px.svg");
	height: 24px;
	width: 24px;
	border:none;
}

.searchDontMatch {
	display: none;
}

.searchMatch {
	display: initial;
}
